body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
 #coluna1{
    flex-direction: column;
 }
 .c1{
    border-radius: 50px;
    background-color: red;
    width: 80px;
    height: 80px;
    margin: 10px;

 }
 .q1{
    background: green;
  width: 90px;
  height: 90px;
  margin: 10px;
  border-radius: 25px;
 }
 .q2{
    background: green;
  width: 90px;
  height: 90px;
  margin: 10px;
  border-radius: 25px;
 }
 .q3{
    background: green;
  width: 90px;
  height: 90px;
  margin: 10px;
  border-radius: 25px;
 }
 #coluna2{
    flex-direction: column;
 }
 .q4{
    background: green;
  width: 90px;
  height: 90px;
  margin: 10px;
  border-radius: 25px;
 }
 .q5{
    background: green;
  width: 90px;
  height: 90px;
  margin: 10px;
  border-radius: 25px;
 }
 .q6{
    background: green;
  width: 90px;
  height: 90px;
  margin: 10px;
  border-radius: 25px;
 }
 .q7{
    background: green;
  width: 90px;
  height: 90px;
  margin: 10px;
  border-radius: 25px;
 }
 #coluna3{
    flex-direction: column;
 }
 .q8{
    background: green;
  width: 90px;
  height: 90px;
  margin: 10px;
  border-radius: 25px;
 }
 .q9{
    background: white;
    width: 90px;
    height: 90px;
    margin: 10px;
    border-radius: 25px;
 }
 .q10{
    background: green;
    width: 90px;
    height: 90px;
    margin: 10px;
    border-radius: 25px;
 }
 .q11{
    background: white;
    width: 90px;
    height: 90px;
    margin: 10px;
 }